.navbar {
    background-color: #82E1DF;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-link {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    height: 50px;
    width: auto;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  

  